html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: underline;
}

a {
    text-decoration: none;
}